@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb-dark: #161616;
  --main-text-dark: #ffffff;
  --header-text: #ffffff;
  --main-content-dark: #464646;
  --foreground-rgb: #FFFFFF;
  --main-text: #000000;
  --main-content: #EEEEEE;
  --background-header: #054794;
}

body {
  background-color: var(--foreground-rgb);
}

.header {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  color: var(--header-text);
  background-color: var(--background-header);
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  align-self: center;
  margin-left: 1rem;
}

.mainContent {
  display: flex;
}

.filterBox {
  display: flex;
  background-color: var(--main-content);
  height: 50vh;
}