@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme */
  --foreground-rgb: #FFFFFF;
  --main-text: #000000;
  --main-content: #EEEEEE;
  --main-content-secondary: #E3E3E3;
  --background-header: #054794;

  /* Dark theme */
  --foreground-rgb-dark: #161616;
  --main-text-dark: #ffffff;
  --header-text: #ffffff;
  --main-content-dark: #464646;
}

body {
  background-color: var(--foreground-rgb);
}

.header {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  color: var(--header-text);
  background-color: var(--background-header);
}

.homeBtn {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  color: var(--header-text);
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  align-self: center;
  margin-left: 1rem;
}

h2 {
  font-size: 1.5rem;
}

.main { /* Container around the actual content (has the background of the page) */
  background-color: var(--foreground-rgb);
}

.mainContent { /* The actual content of the main page */
  height: 80vh;
  width: 75vh;
  background-color: var(--main-content);
}

.tempLink {
  font-size: xx-large;
  color: var(--header-text);
  border-radius: 5px;
  background-color: var(--background-header);
  padding: 1rem;
}

.tempLink:hover {
  background-color: #054894a9;
}

.searchContent {

}

.mainBox { /* Container for standard elements */
  display: flex;
  background-color: var(--main-content);
  border-radius: 0.5rem;
  padding: 5px;
  padding-top: 1rem;
  margin: 1rem;
  min-height: 50vh;
}

.arrangement {
  display: flex;
  margin: 1rem;
  margin-top: 0;
  background-color: var(--main-content-secondary);
  border-radius: 0.5rem;
}

.searchBox {

}

.filter {
  background-color: var(--main-content-secondary);
  margin: 0.5rem;
  padding-top: 0.5rem;
}

.filterBox {
  display: flex;
  background-color: var(--main-content);
  height: 50vh;
}

.searchBarFilter {
  margin: 1rem;
  background-color: var(--main-content-secondary);
  height: 2.5rem;
}

.filterContent {

}

.triangle {
  height: 20px;
  width: 20px;
  transform: rotate(90deg);
  margin-right: 1rem;
}

.line {
  border: 0.5px solid black;
  border-radius: 15px;
  height: 1px;
  width: 185px;
}


/* infoPage */

.infoPage {
  margin-top: 10rem;
}

.infoPageBox {
  padding: 2rem;
}

.infoPageImg {
  background-color: var(--main-content-secondary);
  padding: 10rem;
  max-height: 10rem;
}