@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme */
  --foreground-rgb: #FFFFFF;
  --main-text: #000000;
  --main-content: #EEEEEE;
  --background-header: #054794;

  /* Dark theme */
  --foreground-rgb-dark: #161616;
  --main-text-dark: #ffffff;
  --header-text: #ffffff;
  --main-content-dark: #464646;
}

body {
  background-color: var(--foreground-rgb);
}

.header {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  color: var(--header-text);
  background-color: var(--background-header);
}

.homeBtn {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  color: var(--header-text);
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  align-self: center;
  margin-left: 1rem;
}

.main { /* Container around the actual content (has the background of the page) */
  background-color: var(--foreground-rgb);
}

.mainContent { /* The actual content of the main page */
  height: 80vh;
  width: 75vh;
  background-color: var(--main-content);
}

.filterBox {
  display: flex;
  background-color: var(--main-content);
  height: 50vh;
}